<h3>New Task</h3>
<ModifyToDo ToDo="ToDo" OnSubmitSuccess="HandleSumbmitSuccess" />

@code {
	public ToDo ToDo { get; set; } = new();

    public void HandleSumbmitSuccess(ModifyToDo modify)
	{
		ToDo = new() { IsDone = modify.ToDo.IsDone };
	}
}
