@inherits StateChangeSubscriber<Type>
@inject IDbContextFactory<AppDbContext> AppDbContextFactory

<h3 class="mb-4">Tasks</h3>
<div>
    @if (_toDos is null)
    {
        <div>Loading...</div>
    }
    else
    {
        <div class="container my-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var toDo in _toDos)
                {
                    <div class="col">
                        <DisplayToDo ToDo="@toDo" />
                    </div>
                }
            </div>
        </div>
    }
    <ExceptionAlert Exception="_exception" />
</div>

@code {
    private IEnumerable<ToDo>? _toDos;
    private Exception? _exception;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await StateChangeSubscribeAsync(typeof(ToDo), LoadDataAsync);
    }

    private async Task LoadDataAsync()
    {
        try
        {
            _exception = null;
            using var appDbContext = await AppDbContextFactory.CreateDbContextAsync();
            _toDos = await appDbContext.ToDos.OrderByDescending(toDo => toDo.LastModifiedAt).ToListAsync();
        }
        catch (Exception exception)
        {
            this._exception = exception;
        }
    }
}
