@page "/{Id:int}"
@inject IDbContextFactory<AppDbContext> AppDbContextFactory
@inject NavigationManager NavigationManager


<PageTitle>Modify</PageTitle>
@if (IsLoading)
{
	<p>Loading...</p>
}
else if (ToDo is null)
{
	<p>Task not found.</p>
}
else
{
    <ModifyToDo Todo="ToDo" OnSubmitSuccess="HandleSubmitSuccess" />
}
@code {
	public ToDo? ToDo { get; set; }

	public bool IsLoading { get; set; } = true;

	[Parameter]
	public int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		var appDbContext = await AppDbContextFactory.CreateDbContextAsync();
		ToDo = await appDbContext.ToDos.FindAsync(Id);
		IsLoading = false;
	}

    private void HandleSubmitSuccess(ModifyToDo args)
	{
		NavigationManager.NavigateTo("/");
	}
}
