<h3>New Task</h3>

<EditForm Model="toDo" OnSubmit="HandleSubmit">
	<div>
		<label>
			Is done
		</label>
		<InputCheckbox @bind-Value="toDo.IsDone"/>
	</div>
	<div>
		<label>
			Description
		</label>
		<InputTextArea @bind-Value="toDo.Description" />
	</div>
	<button type="submit">Create</button>
</EditForm>

@code {
	private ToDo toDo = new ToDo();

	private void HandleSubmit()
	{
		Console.WriteLine("DOTO: Submit!");
	}
}
