<h3>New Task</h3>
<Modify ToDo="ToDo" OnSubmitSuccess="HandleSumbmitSuccess" />

@code {
	public ToDo ToDo { get; set; } = new();

	public void HandleSumbmitSuccess(Modify modify)
	{
		ToDo = new() { IsDone = modify.ToDo.IsDone };
	}
}
